@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*>*{
  font-family: 'Press Start 2P', cursive;
  line-height: 1cm;
  font-size: 100%;
}

body {
  background-color: #184E77;
  margin: 0;
}



/* -----MAIN PAGE BELOW----- */
.account-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
#account-btn {
  border: solid 3px #0c2a54;
  background-color: #D9ED92;
  box-shadow: -5px 5px #0c2a54;
  color: #0c2a54;
  padding: 6px;
}
/* -----MAIN PAGE ABOVE----- */



/* -----NAV BAR BELOW----- */
.nav-bar {
  background-color: #34A0A4;
  color: #0c2a54;
  border-bottom: 1px solid #D9ED92;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#title {
  font-size: 30px;
}
.nav-items {
  display: flex;
  margin: 7px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
#nav-item {
  padding: 7px;
  margin: 7px;
  border: solid 3px #0c2a54;
  background-color: #D9ED92;
  box-shadow: -5px 5px #0c2a54;
  color: #0c2a54;
}

/* -----NAV BAR ABOVE----- */



/* -----LINK STUFF BELOW----- */
a:link { text-decoration: none; }
a:visited { 
  text-decoration: none; 
  color: #0c2a54;
}
a:hover { 
  text-decoration: none; 
  color:#18998c; 
}
/* -----LINK STUFF ABOVE----- */



/* -----TASKBOARD BELOW----- */
.task-board {
  display: flex;
  justify-content: center;
}
.board--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.task-container {
  display: flex;
  border: solid 3px #0c2a54;
  background: #34A0A4;
  box-shadow: -5px 5px #0c2a54;
  margin: 10px;
  padding: 10px;
  width: 50vh;
  height: 75vh;
  flex-direction: column;
  align-items: center;
}
#progress {
  color: #0c2a54;
  font-weight: bold;
  border: solid 3px #0c2a54;
  background: #D9ED92;
  box-shadow: -3px 3px #0c2a54;
  padding: 5px;
  width: 60%;
  font-size: 19px;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
}
.add {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: 10px;
  margin-top: 10px;
  gap: 8px;
}
.add-item {
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -2px 2px #0c2a54;
  padding-left: 5px;
  padding-right: 5px;
  background: #1A759F;
}

#add-btn:hover {
  background-color: #D9ED92;
  color: #0c2a54;
}
#add-btn:active {
  box-shadow: -2 5px #0c2a54;
  transform: translateY(4px);
}
.curr-tasks {
  width: 100%;
  overflow: auto;
}
.curr-tasks::-webkit-scrollbar {
  display: none;
}
.curr-task-container {
  font-size: 11.5px;
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -4px 4px #0c2a54;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 10px;
  background: #1A759F;
}
/* -----TASKBOARD ABOVE----- */



/* -----MOTIVATION BELOW----- */
#inspire {
  border: solid 3px #0c2a54;
  background: #1A759F;
  color: #D9ED92;
  font-size: 15px;
  text-shadow: -3px 3px #0c2a54;
  padding: 30px;
  margin: 20px;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -----MOTIVATION ABOVE----- */

@media only screen and (max-width: 1100px) {
  .nav-bar {
    font-size: 9px;
  }
  .task-container {
    max-width: 90%;
    align-self: center;
  }
  #progress {
    font-size: 15px;
  }
}
@media only screen and (max-width: 870px) {
  .nav-bar {
    font-size: 10px;
  }
  .board--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task-container {
    max-width: 200%;
  }
  #progress {
    font-size: 10px;
    width: 105px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    font-size: 7px;
  }
  .curr-task-container {
    font-size: 10px;
  }
  #progress {
    font-size: 7px;
    width: 105px;
    padding: 3px;
  }
}

@media only screen and (max-height: 600px) {
  .curr-task-container {
    font-size: 10px;
  }
  #progress {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
  }
  .board--container {
    max-width: 100%;
  }
  .curr-task-container {
    font-size: 10px;
  }
}
