@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*>*{
  font-family: 'Press Start 2P', cursive;
  line-height: 1cm;
  font-size: 100%;
}

body {
  background-color: #184E77;
  margin: 0;
}



/* -----MAIN PAGE BELOW----- */
.account-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
#account-btn {
  border: solid 3px #0c2a54;
  background-color: #D9ED92;
  box-shadow: -5px 5px #0c2a54;
  color: #0c2a54;
  padding: 6px;
}
/* -----MAIN PAGE ABOVE----- */



/* -----NAV BAR BELOW----- */
.nav-bar {
  background-color: #34A0A4;
  color: #0c2a54;
  border-bottom: 1px solid #D9ED92;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#title {
  font-size: 30px;
}
.nav-items {
  display: flex;
  margin: 7px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
#nav-item {
  padding: 7px;
  margin: 7px;
  border: solid 3px #0c2a54;
  background-color: #D9ED92;
  box-shadow: -5px 5px #0c2a54;
  color: #0c2a54;
}

/* -----NAV BAR ABOVE----- */



/* -----LINK STUFF BELOW----- */
a:link { text-decoration: none; }
a:visited { 
  text-decoration: none; 
  color: #0c2a54;
}
a:hover { 
  text-decoration: none; 
  color:#18998c; 
}
/* -----LINK STUFF ABOVE----- */



/* -----TASKBOARD BELOW----- */
.group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#group-name {
  font-size: 11.5px;
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -4px 4px #0c2a54;
  margin: 10px;
  background: #1A759F;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#g-name {
  color: #0c2a54;
  font-weight: bold;
  border: solid 3px #0c2a54;
  background: #D9ED92;
  box-shadow: -3px 3px #0c2a54;
  font-size: 11.5px;
  padding: 5px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.task-board {
  display: flex;
  justify-content: center;
}
.board--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.task-container {
  display: flex;
  border: solid 3px #0c2a54;
  background: #34A0A4;
  box-shadow: -5px 5px #0c2a54;
  margin: 10px;
  padding: 10px;
  width: 50vh;
  height: 75vh;
  flex-direction: column;
  align-items: center;
}
#progress {
  color: #0c2a54;
  font-weight: bold;
  border: solid 3px #0c2a54;
  background: #D9ED92;
  box-shadow: -3px 3px #0c2a54;
  padding: 5px;
  width: 60%;
  font-size: 19px;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
}

#add-btn:hover {
  background-color: #D9ED92;
  color: #0c2a54;
}
#add-btn:active {
  box-shadow: -2 5px #0c2a54;
  transform: translateY(4px);
}
.curr-tasks {
  width: 100%;
  overflow: auto;
}
.curr-tasks::-webkit-scrollbar {
  display: none;
}
.curr-task-container {
  font-size: 11.5px;
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -4px 4px #0c2a54;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 10px;
  background: #1A759F;
}
.add {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: 10px;
  margin-top: 10px;
  gap: 8px;
}
.add-item {
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -2px 2px #0c2a54;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: #1A759F;
}
.add-task-box {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: #0c2a54;
  opacity:0.6;
  height: 100vh;
  z-index:-1;
}
.modal {
  opacity: 1;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #184E77;
  border: 4px solid #0c2a54;
}
/* -----TASKBOARD ABOVE----- */



/* -----MOTIVATION BELOW----- */
.cat-bg {
  padding: 5px;
  display: flex;

  justify-content: center;
}

img {
  width: 1200px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#inspire {
  border: solid 3px #0c2a54;
  background: #1A759F;
  color: #D9ED92;
  font-size: 11px;
  text-shadow: -3px 3px #0c2a54;
  padding: 10px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  line-height: 20px;
}
/* -----MOTIVATION ABOVE----- */



/* -----COLLABORATE BELOW----- */
.collaborate--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#coll-title, label {
  color: #D9ED92;
  border: solid 3px #0c2a54;
  box-shadow: -2px 2px #0c2a54;
  font-size: 20px;
  background: #1A759F;
  margin: 10px;
  padding: 10px;
}
.form-items {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
}
form {
  margin: 5px;
}
label {
  display: flex;
  justify-content: center;
}
#fname {
  color: #0c2a54;
  font-weight: bold;
  border: solid 3px #0c2a54;
  background: #D9ED92;
  box-shadow: -3px 3px #0c2a54;
  padding: 5px;
  width: 60%;
  font-size: 19px;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
}
/* -----COLLABORATE ABOVE----- */


@media only screen and (max-width: 1100px) {
  .nav-bar {
    font-size: 9px;
  }
  .task-container {
    max-width: 90%;
    align-self: center;
  }
  #progress {
    font-size: 15px;
  }
}
@media only screen and (max-width: 870px) {
  .nav-bar {
    font-size: 10px;
  }
  .board--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task-container {
    max-width: 200%;
  }
  #progress {
    font-size: 10px;
    width: 105px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    font-size: 7px;
  }
  .curr-task-container {
    font-size: 10px;
  }
  #progress {
    font-size: 7px;
    width: 105px;
    padding: 3px;
  }
}

@media only screen and (max-height: 600px) {
  .curr-task-container {
    font-size: 10px;
  }
  #progress {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
  }
  #nav-item {
    width: 10%;
    height: 10%;
    font-size: 10px;
  }
  #nav-text {
    line-height: -50px;
    overflow-wrap: break-word;
  }
  .board--container {
    max-width: 100%;
  }
  .curr-task-container {
    font-size: 10px;
  }
  #inspire {
    padding: 5px;
    margin: 30px;
    width: 120px;
    height: 100px;
    font-size: 9px;
    line-height: 13px;
  }
  img {
    width: 370px;
  }
}


/* -----LOGIN/REGISTER MODAL BELOW----- */
/* .Login-Register-Modal{
  display: flex;
  margin-bottom: 10vw;
} */
